<html>
<head>
	<script type="text/javascript" src="http://static.keyingredient.com/js/mootools.v1.11.js"></script>
	<title>Ask me a question</title></head>
<body>
	{% if message %}
	<pre style="background:gray;">{{message}}</pre><br/>
	<img align="center" src="/nlu/graphic/{{key}}/"/>
	{% endif %}
	<form action="/nlu/" method="post">
		<label>Ask me a question<br/>
			<textarea cols="50" rows="5" name="question">{{question}}</textarea>
		</label><br/>
		<input type="submit" value="Ask!"/>
	</form>
	
	{% if message %}
	<hr/>
	<pre id="data">
		
	</pre>
	<hr/>
	<div id="speak">
		
	</div>
	<script>
	function showData(result) {
		$('data').innerHTML = result;
	}
	new Ajax(
		"/dman/understand/", 
		{
			method: 'get', 
			data: "payload={{payload|safe|urlencode}}", 
			onComplete: showData
		}).request();
	new Ajax(
		"/generate/", 
		{
			method: 'get', 
			data: "payload={{payload|safe|urlencode}}", 
			update:$('speak')
		}).request();	
	</script>
	{% endif %}
</body>